* {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #5E6278;
  width: 40em;
  margin: 0 auto;
  opacity: 0;
  animation: 1s ease-out 1s forwards fadeInBody;
  background-color: #EDEEF4;
}

img {
  vertical-align: middle;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  color: rgba(94, 98, 120, .8);
  font-size: 1.05em;
  line-height: 2em;
  padding-bottom: .4em;
  padding-top: .4em;
}

.p-container {
  border-bottom: 1px solid rgba(94, 98, 120, .1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

blockquote {
  padding-bottom: 1em;
  text-align: center;
  font-style: italic;
  font-size: .85em;
  font-family: 'Open Sans Condensed', sans-serif;
}


/*Utility Classes*/

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}


/*Content Classes*/

.hero-container {
  border-bottom: 1px solid rgba(94, 98, 120, .1);
}

.hero-container::after {
  content: "v0.2.7-beta";
  position: absolute;
  right: 0;
  bottom: 3px;
  font-size: .85em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  opacity: .7;
}

.branding {
  margin: 2em 0;
}

.name {
  font-size: 3.4em;
  margin-top: .3em;
  margin-bottom: 0em;
  position: relative;
}

.role {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: .5em;
  font-weight: 300;
  opacity: .7;
  font-size: 1.4em;
}

.social {
  border-bottom: 1px solid rgba(94, 98, 120, .1);
  padding-bottom: 1.1em;
}

.social li {
  float: left;
  margin-right: 0em;
  transform: scale(.6);
}

.social li a {
  display: block;
}

.social li a {
  position: relative;
  transition: all ease-out .25s;
  color: #5E6278;
}

.social li a:hover,
.social li a:active,
.social li a:focus {
  opacity: .7;
  transform: scale(1.2);
}


/*.social li a:hover::after {
  content: "HOVER";
  top: -2em;
  left: 0;
  border-radius: 1em;
  font-size: 1em;
  background-color: white;
  position: absolute;
  border: 1px solid rgba(94, 98, 120, .3);
}*/

.folio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1.9em;
  margin-bottom: 1.9em;
}

.folio li {
  width: calc(97.3% / 3);
  border-radius: 5px;
  margin-right: .5em;
  margin-bottom: .5em;
  position: relative;
  overflow: hidden;
}

.folio li img {
  width: 100%;
  height: auto;
  transition: all ease-out .6s;
  background-color: #5E6278;
}

.folio li a {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  text-decoration: none;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  opacity: 0;
  transition: all ease-out .3s;
  padding: 0 .5em;
  background-color: rgba(94, 98, 120, .95);
}

.folio a:hover,
.folio a:active,
.folio a:focus {
  opacity: .95;
}

.folio a:hover+img,
.folio a:active+img,
.folio a:focus+img {
  filter: blur(3px);
  transform: scale(1.25);
}

.folio h3 {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  padding: 1em;
  font-size: 1.1em;
  display: block;
}
.folio span {
  opacity: .8;
  font-size: .7em;
  display: block;
  margin-top: .5em;
  font-weight: 400;
}

footer {
  color: #c6c9da;
  background-color: #5E6278;
  padding: 1em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

footer img {
  width: 30px;
  height: auto;
}

footer span {
  font-size: .5em;
  padding-left: .5em;
}

footer .version {
  float: right;
  padding-top: .4em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: .8em;
}
/*content: "v0.2.3-beta";
position: absolute;
right: 0;
bottom: 3px;
font-size: .85em;

opacity: .7;*/

/*Basic Responsive Media Queries*/

@media (min-width: 60em) {
  .folio li:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 60em) {
  .folio li {
    width: calc(98.5% / 2);
  }
  .folio li:nth-child(2n) {
    margin-right: 0;
  }
  p {
    font-size: 1.2em;
  }
}

@media (max-width: 42em) {
  body {
    width: 90%;
  }
  .folio, .folio li {
    width: 100%;
  }
  .folio li {
    margin-right: 0;
    margin-bottom: 1.25em;
  }
  p {
    font-size: 1.2em;
  }
}


/*animations*/

@keyframes fadeInBody {
  0 {
    opacity;
    0;
  }
  100% {
    opacity: 1;
  }
}
